<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Dicionario de Dados</li>
        </ol>
    </nav>
</div>
<div class="container">
    <div class="demo-container">
        <div id="grid"></div>
    </div>
</div>

<script src="~/js/word.js"></script>