<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Cadastre varias traduções de uma só vez</li>
        </ol>
    </nav>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <textarea class="form-control" id="formControlTradutions" rows="17" placeholder="Chave | Portugues | Ingles | Espanhol /n"></textarea>
            </div>
        </div>
    </div>
    <button type="button" onclick="traduzir()" class="btn btn-success">Cadastrar</button>
</div>

<script src="~/js/batch.js"></script>
